{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native", "react-hooks", "jest", "css-modules"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:jest/recommended",
    "plugin:css-modules/recommended"
  ],
  "parserOptions": {
    /*"sourceType": "module",
    "ecmaVersion": 2017,*/
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 0,
    "react-native/no-color-literals": "off",
    "react-native/no-inline-styles": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "globals": {
    "fetch": true,
    "__DEV__": true,
    "window": true,
    "setTimeout": true,
    "alert": true,
    "require": true,
    "Promise": true,
    "Expo": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "jest/globals": true,
    "react-native/react-native": true
  }
}
