@import 'color';

.container {
    align-items: center;
    background-color: $WHITE;
    justify-content: center;
    flex: 1;
}
.welcome {
    color: $LIGHT_BLUE_800;
    font-size: 20px;
}
.textContainer {
    margin-bottom: 10px;
    margin-top: 10px;
}