.container {
    align-items: center;
    background-color: #fff;
    justify-content: center;
    flex: 1;
}
.welcome {
    color: #00ff00;
    font-size: 20px;
}
.textContainer {
    margin-bottom: 10px;
    margin-top: 10px;
}