$LIGHT_BLUE_600: #039BE5;
$LIGHT_BLUE_700: #0288D1;
$LIGHT_BLUE_800: #0277BD;
$LIGHT_BLUE_900: #01579B;
$GRAY_5O: #FAFAFA;
$GRAY_100: #F5F5F5;
$GRAY_200: #EEEEEE;
$GRAY_300: #E0E0E0;
$GRAY_400: #BDBDBD;
$GRAY_500: #9E9E9E;
$GRAY_600: #757575;
$GRAY_700: #616161;
$GRAY_800: #424242;
$GRAY_900: #212121;
$BLUE_GRAY_50: #ECEFF1;
$BLUE_GRAY_100: #CFD8DC;
$BLUE_GRAY_200: #B0BEC5;
$BLUE_GRAY_300: #90A4AE;
$BLUE_GRAY_400: #78909C;
$BLUE_GRAY_500: #607D8B;
$BLUE_GRAY_600: #546E7A;
$BLUE_GRAY_700: #455A64;
$BLUE_GRAY_800: #37474F;
$BLUE_GRAY_900: #263238;
$BLACK: #000000;
$WHITE: #FFFFFF;
$FACEBOOK: #3B5998;